<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
</head>
<body>
<div>
    <h2 th:text="'Customer ' + ${customer.id}">Customer 2</h2>
    <form action="/dc/customer/">
        <input type="submit" value="Go back" />
    </form>
</div>
<table>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    <tr>
        <td th:text="${customer.id}">1</td>
        <td th:text="${customer.firstName}">Duarte</td>
        <td th:text="${customer.lastName}">Clara</td>
        <td th:text="${customer.email}">duartenvclara@gmail.com</td>
        <td th:text="${customer.phone}">916400280</td>
    </tr>
</table>

</body>
</html>