<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <thymeleaf xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
               th:fragment="header" th:remove="tag">

        <title>JavaBank</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" modelType="text/css"/>
        <script modelType="application/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script modelType="application/javascript" async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href="resources/css/styles.css" rel="stylesheet">

    </thymeleaf>
</head>
<body>
<div class="container">
<h2>Customer Details</h2>



<form th:object="${customer}" th:action="@{/customer/add}" method="post">

    <label>First Name: </label><input class="form-control" type="text" th:field="*{firstName}" />
    <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
    First Name field error messages
    </span>
    <br/>
    <br/>
    <label>Last Name: </label><input class="form-control" type="text" th:field="*{lastName}" />
    <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
    Last Name field error messages
    </span>
    <br/>
    <br/>
    <label>Email: </label><input class="form-control" type="text" th:field="*{email}" />
    <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
    Email field error messages
    </span>
    <br/>
    <br/>
    <label>Phone: </label><input class="form-control" type="text" th:field="*{phone}" />
    <span class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">
    Phone field error messages
    </span>
    <br/>
    <br/>

    <!-- HIDDEN INPUTS -->
    <input class="form-control" type="hidden" th:field="*{id}" />
    <input class="form-control" type="hidden" th:field="*{version}" />

    <input class="btn btn-primary" type="submit" value="Submit" />

</form>


</div>
</body>
</html>